header ul{
    background-color: rgb(10, 120, 216);
    list-style-type: none;
    margin:5px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0.5em;
}

header ul li{
    float:left;
    padding: 10px 20px 10px 20px;
    font-size: 1.5rem;
}

#title2{
    float:right;
    padding: 20px;
  
}
header ul li a{
    color:white;
    text-decoration-line:none;
    padding: 12px;
    display: block;

}
#title2 li a:hover{
    background-color: rgb(238, 151, 44);
}

body{
    margin:0%;
   /* background-image: url("https://static.vecteezy.com/system/resources/previews/002/550/504/non_2x/cute-cartoon-blue-sky-with-cloud-and-sun-background-wallpaper-free-vector.jpg");*/
   
    
}

footer {
    font-weight: bold;
    padding: 20px;
    text-align: center;
}





@media only screen and (max-width: 600px) {
    #contenedor{
        background-color: aqua;
    }
}

#title{
    font-size: larger;
    font-weight: bold;
    padding: 5px;
    font-style: italic;
    font-size: 2.5rem;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    transform: translateY(600%);
    
 
}

.postre{
    display:inline-table;
    width: 250px;
    padding: 20px;
    margin: 0%;
    right: 0%;
   
  }
  #servicios ul li{
    float:left;
    padding: 10px 50px 0px 50px;
    font-size: 1.5rem;
 
}


.derechos{
    background-color: black;
    color: #bbb;
}


#images{
    float: right;    
    margin-right: 25%;
}
/*Estilo del texto*/
#contenedor{
   
    width:100%;
        font-style: italic;
        font-size: larger;
        text-align: center;
          
          
          

}

.whatsapp, .wp {  /*Creo un botón y una clase y a los dos les asigno las mismas propiedades para que se sobrepongan*/
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    left: 2.5%;

    background-color:green;
   
    border-radius:1000px;
    text-align:center;
    font-size:30px;
  
  }
 
/*Elementos de las demás páginas*/
  #video{
      text-align: center;
  }
#menú2{
    padding: 10px 50px 0px 50px;
    font-size: 1.5rem;
}
#chef{
    text-align: center;
    left: 50%;
}

/************************************ESTILO CHEF***********************************/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: unset;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.text1{
    text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}


@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

/*BANNER*/
.slideshow-container{
display: flex;
}


/*------------------ESTILO GALERÍA--------------------------*/
#contPersonajes{
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  grid-template-columns: repeat(3, 1fr);
  text-align: center; 
  padding-left: 5px;
}

@media only screen and (max-width: 600px) {
  #contPersonajes{
  display:list-item;
  }
}

.card-img-top{
  padding: auto;
  width: 300px;
  height: 400px;
  text-align: center;
}

#title-gallery{
  text-align: center;
}
